@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    background: #F3F3F3;
}
.header-wrapper{
    width: 90%;
    margin: 0 auto;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
.logo{
    margin-top: 20px;
}
nav{
    display: inline;
    float: right;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #000;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
}
nav a:hover{
    color: orangered;
    font-weight: bold;
}
.main{
    text-align: end;
}
.main h3{
    position: relative;
    top: 20em;
    display: inline-block;
    color: rgb(255, 255, 255);
}
.main a{
    position: relative;
    top: 26em;
    right: 12em;
    background: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
    padding: 15px 30px;
}
.product-showcase{
    background: url('../image/main.png');
    background-position: center;
    background-size: cover;
    height: 536px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.item img{
    max-width: 150px;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-area{
    text-align: center;
    height: 226px;
    position: relative;
    top: 95px;
}
.footer-grid-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
/* Footer */
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 300px;
    margin-top: 42px;
    margin-bottom: 40px;
}
.main1{
    display: flex;
    justify-content: space-between;
}
.main2{
    margin-left: 76px;
}
input[type=email]{
    background: transparent;
    border: none;
    outline: none;
    margin-bottom: 50px;
    width: 87%;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.footer1 p{
    font-weight: bold;
    font-size: 14px;
}
.footer1 li a{
    font-size: 14px;
}
.main2 p{
    margin: 20px 0 25px 0;
}
.signup{
    background-color: rgb(41, 41, 41);
    color: #fff;
    padding: 10px 109px;
    font-weight: bold;
}
.signup:hover{
    background: rgb(70, 198, 248);
    box-shadow: 2px 5px 15px rgb(100, 99, 99);
    color: rgb(37, 37, 37);
}
.container > p{
    margin-bottom: 26px;
    margin-top: 8px;
}
@media (min-width: 320px) and (max-width: 420px) {
    nav{
        float: none;
    }
    nav ul{
        margin-left: 57px;
    }
    nav li{
        margin-right: -13px;
    }
    nav a{
        margin-top: -43px;
    }
}
@media (min-width: 320px) and (max-width: 700px) {
    .footer{
        grid-gap: 50px;
    }
    .main2{
        margin: auto;
    }
    .container > p{
        margin-bottom: 40px;
    }
}
@media (min-width: 482px) and (max-width: 699px) {
    nav a{
        margin-top: 32px;
        margin-left: 38px;
    }
}
@media (min-width: 700px){
    .product-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item img{
        max-width: 100%;
    }
    .footer-grid-section img{
        width: 100%;
    }
    .footer-grid-section{
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0;
    }
}    